.DS_Store
__pycache__/
.idea/
.vscode/

skills/issue-triage-handoff/.triage_work
skills/issue-flow-core/__test__
skills/cmiotsdk-start-bugflow-workspace
skills/cmiotsdk-start-bugflow-workspace
skills/issue-investigate-workspace/
issue-triage-workspace